<section class="blog-area">
  <div class="container">
    <div class="row">
      <div class="{% if settings.left_sidebar_handle == 'no_sidbar' %}col-md-12{% else %}col-md-8 col-lg-9 {% endif %} col-sm-7 col-xs-12 {% if settings.left_sidebar_handle == 'left_sidebar' %}col-md-push-3{% endif %}">

        {% paginate blog.articles by 2 %}

        {% for article in blog.articles %}
        <div class="tb-post-item {% if forloop.last %}ma-nn{% endif %}">
          <a href="#">
            <div class="tb-thumb">
              <img src="{{ article | img_url: 'large' }}" alt="">
              <span class="tb-publish font-noraure-3">{{ article.published_at | date: "%a, %b %d, %y" }}</span>
            </div>
          </a>
          <div class="tb-content7">
            <a href="{{ article.url }}"><h4 class="tb-titlel">{{ article.title }}</h4></a>
            <div class="blog-info">
              <span class="author-name">
                <i class="fa fa-user"></i>
                By
                <a href="#">{{ article.author }}</a>
              </span>
              <span class="categories">
                <i class="fa fa-tag"></i>

                {% for tag in article.tags %}
                {{ tag | link_to_tag: tag }}
                {% unless forloop.last %}
                ,
                {% endunless %}
                {% endfor %}
              </span>

              {% if article.comments_enabled? %}
              <span class="comments-number">
                <i class="fa fa-comment"></i>
                {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
              </span>
              {% endif %}
            </div>
            <div class="tb-excerpt">
				{{ article.content | truncatewords: 50 }}
            </div>
            <a class="blog7" href="{{ article.url }}">READ MORE</a>
          </div>
        </div>
        {% endfor %}



        {% if paginate.pages > 1 %}
        <div class="pagination tb-pagination text-right">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '<' | replace: 'Next &raquo;', '>' }}
        </div>
        {% endif %}


        {% endpaginate %}

      </div>
      {% if settings.left_sidebar_handle != 'no_sidbar' %}
      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 {% if settings.left_sidebar_handle == 'left_sidebar' %}col-md-pull-9{% endif %}">
        {% include 'blog-sidebar' %}
      </div>
      {% endif %}
    </div>
  </div>
</section>