
{% assign grid_results = false %}

{% comment %}
Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

{% comment %}
Avoid accessing search.results before the opening paginate tag.
If you do, the pagination of results will be broken.
{% endcomment %}
{% paginate search.results by 10 %}

<div class="shop-area">

<div class="grid">
  <div class="grid__item large--two-thirds push--large--one-sixth">

    {% if search.performed %}
    {% if search.results_count == 0 %}
    <h1 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
    {% else %}
    <h1 class="text-center">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
    {% endif %}
    {% else %}
    <h1 class="text-center">{{ 'general.search.title' | t }}</h1>
    {% endif %}

    {% include 'search-bar' %}

    {% if search.performed %}

    <hr class="hr--clear">

    <div class="grid-uniform">
      {% for item in search.results %}



      {% assign on_sale = false %}
      {% if item.compare_at_price > item.price %}
      {% assign on_sale = true %}
      {% endif %}

      {% assign sold_out = true %}
      {% if item.available %}
      {% assign sold_out = false %}
      {% endif %}


      <div class="li-item">
        <div class="col-md-4 col-sm-4">
          <div class="tb-product-item-inner tb2 pct-last">
            {% if on_sale %}
            <span class="onsale two">{{ 'products.product.sale' | t }}</span>
            {% else %}
            <span class="onsale">{{ 'products.product.new' | t }}</span>
            {% endif %}

            <img alt="" src="{{ item.featured_image.src | img_url: 'large' }}">
            <a class="la-icon ts"  href="#productModal" title="Quick View" data-toggle="modal"><i class="fa fa-eye"></i></a>

          </div>
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="f-fix">
            <div class="tb-beg">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </div>
            <div class="tb-product-wrap-price-rating">
              <div class="tb-product-price font-noraure-3">
                {% if on_sale %}
                <span class="amount2 ana">{{ item.price | money }} - </span>
                <span class="amount2 ana"><del>{{ item.compare_at_price | money }}</del></span>
                {% else %}
                <span class="amount2 ana">{{ item.price | money }} </span>
                {% endif %}
              </div>
            </div>
            <p class="desc">{{ item.description | truncatewords: 50 }} </p>
            <div class="last-cart l-mrgn ns">
              <form action="/cart/add" method="post" enctype="multipart/form-data">

                <select style="display: none;" name="id">

                  {% for variant in product.variants %}
                  <option value="{{ variant.id }}"> {{ variant.title }} - {{ variant.price | money }} </option>
                  {% endfor %}
                </select>

                {% if sold_out %}
                <button type="submit" name="add" class="las4">pre order</button>
                {% else %}
                <button type="submit" name="add" class="las4">Add To Cart</button>
                {% endif %}

              </form>
            </div>
            <div class="tb-product-btn">
              <a href="#">
                <i class="fa fa-eye"></i>
              </a>
              <a href="#">
                <i class="fa fa-heart"></i>
              </a>
              <a href="#">
                <i class="fa fa-retweet"></i>
              </a>
            </div>
          </div>
        </div>
      </div>





      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
    <hr>
    <div class="pagination">
      {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
    </div>
    {% endif %}

    {% endif %}

  </div>
</div>
</div>
  
  
{% endpaginate %}

{% else %}
{% include 'respond' %}
{% layout none %}
{% endunless %}
